/* Styles for the ProjectCard component */

/* Card container */
.card {
    position: relative;
    width: 20rem; /* Equivalent to w-80 */
    height: 24rem; /* Equivalent to h-96 */
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
    cursor: pointer;
  }
  
  /* Overlay when hovered */
  .overlay {
    background-color: rgba(255, 255, 0, 0);
    transition: background-color 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem; /* Equivalent to px-4 */
  }
  .fronttitle {
    
  
  
    left: 40px;
    bottom: 24px;
    font-size: 32px;


    position: absolute;
    /* left: 32px; */
    /* bottom: 12px; */
    margin: 0;
    transform: translateY(-20px);
    /* font-size: 28px; */
    line-height: 1.4;
    color: #ffffff;
    font-family: "Gilroy", "Arial", sans-serif;

  }
  /* Title text */
  .title {
    font-size: 1.25rem; /* Equivalent to text-xl */
    font-weight: 700; /* Equivalent to font-bold */
    color: black;
    margin-bottom: 0.5rem;
    transition: transform 0.4s, opacity 0.4s;
  }
  
  /* Button Class (CSS Modules require a local class for styling) */
  .learnMoreButton {
    padding: 0.5rem 1rem;
    background-color: black;
    color: #fbc710; /* Yellow color */
  
    /* transition: background-color 0.3s; */
  }
  
  .learnMoreButton:hover {
    background-color: #333; /* Darker background on hover */
  }
  
  /* General styles for the card (images, overlays, etc.) can also be defined here */
  